@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));




/* للـ Scrollbar كله */
::-webkit-scrollbar {
  width: 8px; /* عرض الـ scrollbar */
}

/* الخلفية */
::-webkit-scrollbar-track {
  background: #1a1a1a; /* غامق في الـ dark mode */
}

/* المقبض */
::-webkit-scrollbar-thumb {
  background: #6b46c1; /* بنفسجي */
  border-radius: 10px;
}

/* عند الـ hover */
::-webkit-scrollbar-thumb:hover {
  background: #9f7aea;
}


body{
  overflow-x: hidden;
  position: relative;
  z-index: 1;
}
section{
  position: relative;
  z-index: 2;
}
/* الدائرة الصغيرة */
.cursor-dot {
  position: fixed;
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  z-index: 50;
  pointer-events: none;
  background-color: var(--cursor-color);
  mix-blend-mode: difference; /* يخلي اللون يبان بشكل احترافي */
}
/* الدائرة الكبيرة (الهالة) */
.cursor-ring {
  position: fixed;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border: 2px solid var(--accent-foreground);
  border-radius: 50%;
  z-index: 40;
  pointer-events: none;
  background-color: transparent;
  transition: border-color 0.3s ease;
}


h1{
    font-family: var(--font--roboto),"sans serif";
    font-weight: 700;

}







.mySwiper{
 padding-bottom: 40px !important;
 width: 100% !important;
}
.mySwiper .swiper-pagination {
 
  position: absolute !important;
   bottom: 0 !important;       /* تخليها في آخر البلوك */
}
.swiper-pagination-bullet{
  width: 18px !important;
  height: 18px !important;
  background-color:#6b46c1 !important;
}